body {
  font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 400;
}

p, span, a, ul, li, button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5em;
  font-weight: 600;
}

strong {
  font-weight: 400;
}

.tile {
  width: 70%;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 30px;
  margin-bottom:30px;

 }
 
#box:hover{
opacity: 0.4;
filter: alpha(opacity=40);
}


