body, html {
	padding-top: 5%;
	text-align: center;
	background: url(../img/intro-bg.jpg) no-repeat center center fixed;
	background-size: cover;
	height: 100%;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}